# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional build files
# Uncomment if dist should be ignored
# /dist/

# Backup folders
backup/
oldbackup/

# Data directory
/app/data/ 